{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Template
        {% endblock %}
    </title>
    <link rel='stylesheet' type="text/css" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main" class="inner-body">
        <div class="logo_header">
            <a href="/" style="font-size: 150%; font-weight: bold; color: white">GO-PUS</a>
            <div class="topnav" >
                <a href="/buku">Daftar Buku</a>
                <span>|</span>
                {% if user.is_authenticated %}
                <a href="/profil">Data Anggota</a>
                <span>|</span>
                <a href="/bukusaya">Pinjaman Saya</a>
                <span>|</span>
                <a href="/logout">Keluar</a>
                {% else %}
                    <a href="/login">Login</a>
                    <span>|</span>
                    <a href="/register">Daftar</a>
                {% endif %}
                <span>|</span>
                <a href="/panduan">Panduan</a>
            {% if user.is_superuser %}
                <br>
                    <a href="/admin">Admin</a>
                    <span>|</span>
                    <a href="/admin/catalog/bukuinstance/">Semua Instansi Buku</a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% block body %}
                you should not see this
            {% endblock %}
        </div>
        <div class="footer">Go-Pus 2021<br>
            <span style="font-size: 0.5em">Made by</span>
            <a href="http://www.franciswibisono.com" style="color: white; text-decoration: underline; font-size: 0.75em">Francis Wibisono</a>
            <span style="font-size: 0.5em">for</span><br>
            <span>Kelompok 2 AKT 20 IUP</span><br>
            <span>Sistem Informasi Manajemen,</span>
            <a href="https://unnes.ac.id/" style="color: white; text-decoration: underline;">Universitas Negeri Semarang</a>
        </div>
    </div>
    <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>
</body>
</html>