{% extends 'base.html' %}
{% block title %}
    Profil Saya
{% endblock %}

{% block body %}
    <div class="card">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column">
            <img src="{{ request.user.profile.url_foto }}" style="max-height: 200px; border-radius: 10px">
            <span style="font-weight: bold; font-size: 2em">{{ request.user.first_name }} {{ request.user.last_name }}</span>
            <span style="font-size: 1em">Kelas {{ request.user.profile.kelas }}</span>
            <span style="font-weight: bold">NIS</span>
            <span>{{ request.user.profile.nis }}</span>
            <span style="font-weight: bold">Nomor Telepon</span>
            <span>{{ request.user.profile.telepon }}</span>
            <span style="font-weight: bold">Email</span>
            <span>{{ request.user.email }}</span>
        </div>
    </div>
{% endblock %}