{% extends 'base.html' %}
{% block title %}
    {{ buku.judul }}
{% endblock %}
{% block body %}
    <div class="card" style="display: flex; flex-direction: column">
        <img src="{{ buku.url_sampul }}" id="sampul" style="width: 25%; margin-left: auto; margin-right: auto; margin-bottom: 15px">
        <span class="center-text" style="font-weight: bold">Judul</span>
        <span class="center-text">{{ buku.judul }}</span>
        <span class="center-text" style="font-weight: bold">Penulis</span>
        <span class="center-text">{{ buku.penulis }}</span>
        <span class="center-text" style="font-weight: bold">ISBN</span>
        <span class="center-text">{{ buku.isbn }}</span>
        <span class="center-text" style="font-weight: bold">Tahun Terbit</span>
        <span class="center-text">{{ buku.tahun }}</span>
        <span class="center-text" style="font-weight: bold">Jumlah tersedia</span>
        <span class="center-text">{{ buku.bukuinstance_set.count }}</span>
        <span class="center-text" style="font-weight: bold">Lokasi</span>
        <span class="center-text">{{ buku.lokasi }}</span>
    </div>
{% endblock %}