{% extends 'base.html' %}
{% block title %}
    Daftar Buku
{% endblock %}
{% block body %}
    <style>
    .grid-container {
      --auto-grid-min-size: 16rem;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
      grid-gap: 1rem;
    }
    </style>
    <h1>Daftar Buku</h1>

    {% if buku_list %}
    <div class="grid-container" style="width: 100%">
        {% for buku in buku_list %}
            <a href="{{ buku.get_absolute_url }}">
                <div style="text-align: center">
                    <img src="{{ buku.url_sampul }}" style="max-width: 100%; max-height: 150px"><br>
                    <span style="font-weight: bold">{{ buku.judul }}</span><br>
                    <span>{{ buku.penulis }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}